In [1]:
!which python

/home/ygor/miniconda3/envs/data_visualization/bin/python

In [2]:
google_colab = 'https://colab.research.google.com/notebooks/welcome.ipynb'

In [3]:
kaggle = 'https://www.kaggle.com/datasets/ammaraahmad/immigration-to-canada'

In [4]:
dataset = 'https://github.com/alura-cursos/bibliotecas_visualizacao/blob/main/Dados/imigrantes_canada.csv'

In [6]:
import requests

In [19]:
# Cambiando al url de blob a raw para acceder al arhivo y no la vista web 
url = dataset = 'https://github.com/alura-cursos/bibliotecas_visualizacao/raw/main/Dados/imigrantes_canada.csv'
response = requests.get(dataset)
response.status_code

200

In [20]:
content_type = response.headers.get('Content-Type')
print(content_type)

text/plain; charset=utf-8

In [23]:
import pandas as pd

In [27]:
from io import StringIO

In [28]:
cvs_data = StringIO(response.text)
df = pd.read_csv(cvs_data)
df.head()

,País,Continente,Região,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afeganistão,Ásia,Sul da Ásia,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albânia,Europa,Sul da Europa,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
2,Argélia,África,Norte da África,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,Samoa Americana,Oceânia,Polinésia,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europa,Sul da Europa,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15