In [16]:
!which python

/home/ygor/miniconda3/envs/data_visualization/bin/python

In [17]:
google_colab = 'https://colab.research.google.com/notebooks/welcome.ipynb'

In [18]:
kaggle = 'https://www.kaggle.com/datasets/ammaraahmad/immigration-to-canada'

In [19]:
dataset = 'https://github.com/alura-cursos/bibliotecas_visualizacao/blob/main/Dados/imigrantes_canada.csv'

In [20]:
import requests

In [21]:
# Cambiando al url de blob a raw para acceder al arhivo y no la vista web 
url = dataset = 'https://github.com/alura-cursos/bibliotecas_visualizacao/raw/main/Dados/imigrantes_canada.csv'
response = requests.get(dataset)
response.status_code

200

In [22]:
content_type = response.headers.get('Content-Type')
print(content_type)

text/plain; charset=utf-8

In [23]:
import pandas as pd

In [24]:
from io import StringIO

In [25]:
cvs_data = StringIO(response.text)
df = pd.read_csv(cvs_data)
df.head()

,País,Continente,Região,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afeganistão,Ásia,Sul da Ásia,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albânia,Europa,Sul da Europa,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
2,Argélia,África,Norte da África,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,Samoa Americana,Oceânia,Polinésia,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europa,Sul da Europa,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 38 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   País        195 non-null    object
 1   Continente  195 non-null    object
 2   Região      195 non-null    object
 3   1980        195 non-null    int64
 4   1981        195 non-null    int64
 5   1982        195 non-null    int64
 6   1983        195 non-null    int64
 7   1984        195 non-null    int64
 8   1985        195 non-null    int64
 9   1986        195 non-null    int64
 10  1987        195 non-null    int64
 11  1988        195 non-null    int64
 12  1989        195 non-null    int64
 13  1990        195 non-null    int64
 14  1991        195 non-null    int64
 15  1992        195 non-null    int64
 16  1993        195 non-null    int64
 17  1994        195 non-null    int64
 18  1995        195 non-null    int64
 19  1996        195 non-null    int64
 20  1997        195 non-null    int64
 21  1998        195 non-null    int64
 22  1999        195 non-null    int64
 23  2000        195 non-null    int64
 24  2001        195 non-null    int64
 25  2002        195 non-null    int64
 26  2003        195 non-null    int64
 27  2004        195 non-null    int64
 28  2005        195 non-null    int64
 29  2006        195 non-null    int64
 30  2007        195 non-null    int64
 31  2008        195 non-null    int64
 32  2009        195 non-null    int64
 33  2010        195 non-null    int64
 34  2011        195 non-null    int64
 35  2012        195 non-null    int64
 36  2013        195 non-null    int64
 37  Total       195 non-null    int64
dtypes: int64(35), object(3)
memory usage: 58.0+ KB

In [27]:
# Paso 1: Colocar la columna país como index
df.set_index('País', inplace=True)

In [29]:
df.head()

,Continente,Região,1980,1981,1982,1983,1984,1985,1986,1987,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
País,,,,,,,,,,,,,,,,,,,,,
Afeganistão,Ásia,Sul da Ásia,16,39,39,47,71,340,496,741,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albânia,Europa,Sul da Europa,1,0,0,0,0,0,1,2,...,1223,856,702,560,716,561,539,620,603,15699
Argélia,África,Norte da África,80,67,71,69,63,44,69,132,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
Samoa Americana,Oceânia,Polinésia,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europa,Sul da Europa,0,0,0,0,0,0,2,0,...,0,1,1,0,0,0,0,1,1,15

In [34]:
# Paso 2: Crear una variable para el intervalo de años
# la función map servirá para mapear los valores como string
# En range simpre usamos la +1 en para el ultimo elemento. Para obterner hasta 2013, en el parametro pasamos 2014
anos = list(map(str, range(1980, 2014)))

In [35]:
# Verificando el resultado
anos

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [36]:
# Paso 3: Obtener solo los datos de Brasil
# para ello vamos a usar la función loc (Permite capturar rotulos especificos)
brasil = df.loc['Brasil', anos]

In [40]:
brasil.head()

1980    211
1981    220
1982    192
1983    139
1984    145
Name: Brasil, dtype: object


Como resultado tuvimos los anos y número de inmigrantes, en formato de serie.  Que convertiremos en un DadaFrame
para ello crearemos un dictionario con los datos de la variable "brasil"

In [43]:
brasil_dict = {
    # 'key' : 'value = brasil.intex.tolist()' // Para convertir los index a una lista
    'ano' : brasil.index.tolist(),
    # 'values' : 'value = brasil.values.tolist()' // Para convertir los valores a lista 
    'inmigrantes' : brasil.values.tolist()
}

#Después que tenemos el diccionario lo convertimos a un dataframe usando pandas
df_brasil = pd.DataFrame(brasil_dict) # Convirtiendo el diccionario a DataFrame()
df_brasil.head() # Visualizando el resultado

    ano  inmigrantes
0  1980          211
1  1981          220
2  1982          192
3  1983          139
4  1984          145