In [21]:
import pandas as pd
import matplotlib.pyplot as plt

### Desafio: comparando tendências de imigração

Chegou a hora de você testar os conhecimentos desenvolvidos durante a aula. Nós criamos um gráfico com a função plt.plot() para analisar as intrigantes tendências de imigração do Brasil para o Canadá, no período de 1980 a 2013. Neste momento temos uma nova demanda: criar um gráfico de linhas comparando os números de imigrantes do Brasil e Argentina para o Canadá, que são os maiores países da América do Sul.

Prepare-se para um mergulho fascinante nas linhas que conectam esses países da América do Sul ao território canadense. Nessa missão, a elaboração desse gráfico pode ser útil para a compreensão das tendências migratórias desses países para o Canadá ao longo do tempo e como elas se comparam entre si. Ao analisar esses fatores, podemos obter uma visão mais abrangente do cenário migratório na América do Sul.

Fique tranquila(o)!

Essa nova tarefa é mais desafiadora, pois exige uma análise comparativa entre dois países. No entanto, ela também permitirá com que você obtenha uma aprendizagem enriquecedora. Por isso, explore as diversas possibilidades e lembre-se dos elementos essenciais de um gráfico: título, rótulos nos eixos x e y e os ticks do eixo x, que devem ser definidos de 5 em 5 anos.

Além disso, você precisará descobrir como adicionar uma legenda para que seja possível identificar a linha de cada país. Ao seguir essas orientações, você terá construído um gráfico robusto que te permitirá uma análise significativa e aprofundada.

Após criar o gráfico analise o resultado obtido e reflita nas seguintes questões:

1. Há alguma tendência ou padrão comum nos dados dos dois países?
2. Quais são os períodos com maior número de imigrantes nos dois países?

In [22]:
df = pd.read_csv('datos_migratorios.csv')
df.set_index('País', inplace=True)
df.head()

,Continente,Região,1980,1981,1982,1983,1984,1985,1986,1987,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
País,,,,,,,,,,,,,,,,,,,,,
Afeganistão,Ásia,Sul da Ásia,16,39,39,47,71,340,496,741,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albânia,Europa,Sul da Europa,1,0,0,0,0,0,1,2,...,1223,856,702,560,716,561,539,620,603,15699
Argélia,África,Norte da África,80,67,71,69,63,44,69,132,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
Samoa Americana,Oceânia,Polinésia,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europa,Sul da Europa,0,0,0,0,0,0,2,0,...,0,1,1,0,0,0,0,1,1,15

In [23]:
# Crear comparativo Brasil y Argentina
comparativo = df.loc[['Brasil','Argentina'],list(map(str,range(1980,2014)))]

In [24]:
comparativo = comparativo.T
comparativo.head()

País  Brasil  Argentina
1980     211        368
1981     220        426
1982     192        626
1983     139        241
1984     145        237

In [25]:
plt.figure(figsize=(8,4)) # Tamaño del gráfico
plt.plot(comparativo['Brasil'], label= 'Brasil', color='green')
plt.plot(comparativo['Argentina'], label= 'Argentina', color='orange')
plt.title('Comparativo de Migración a Canada entre Brasil y Argentina')
plt.xticks(list(map(str,range(1980,2014,5))))
plt.xlabel('Años')
plt.ylabel('Nro. de inmigrantes')
plt.legend()
plt.show() # Elimina texto de salida

1. Há alguma tendência ou padrão comum nos dados dos dois países?
   
   Hasta mas o menos 1993 la tendencia de crecimiento en la cantidad de migrantes de ambos países estuvo bastante similar.

2. Quais são os períodos com maior número de imigrantes nos dois países

In [26]:
# Período con mayor número de inmigrantes Brasil
comparativo['Brasil'].to_frame().query(f'Brasil == {comparativo['Brasil'].max()}')

      Brasil
2010    2598

In [27]:
# Período con mayor número de inmigrantes Argentina
comparativo['Argentina'].to_frame().query(f'Argentina == {comparativo['Argentina'].max()}')

      Argentina
2003       1745

Em um mundo movido pela busca constante por insights e resultados, Théo é um cientista de dados que está trabalhando em um projeto que envolve a análise e a previsão de vendas de um e-commerce. Imerso nesse projeto desafiador, ele concentra seus esforços para alcançar seus objetivos.

Nesse momento os dados que ele possui estão armazenados em um DataFrame chamado df, que foi obtido com o seguinte código:

In [28]:
import pandas as pd


dados_vendas = {
    'mes': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'vendas': [10000, 11000, 12000, 13000, 14000, 15000, 16000, 17000, 18000, 19000, 20000, 21000]
}

df = pd.DataFrame(dados_vendas)

In [29]:
df.head()

   mes  vendas
0    1   10000
1    2   11000
2    3   12000
3    4   13000
4    5   14000

Com suas habilidades afiadas, Théo precisa criar um gráfico que mostre a evolução das vendas ao longo do tempo e adicione um título e rótulos aos eixos X e Y para facilitar a interpretação dos dados. Para isso, ele decide utilizar a biblioteca Matplotlib.

Qual é o código correto para criar a figura, adicionar um título e os rótulos dos eixos que você indicaria a ele?

In [30]:
fig, ax = plt.subplots(figsize=(8,4))
ax.plot(df['mes'], df['vendas'])
ax.set_xlabel('Mes')
ax.set_ylabel('Vendas')
plt.show()